<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>

        <title> N Choose K </title>
    </head>

    <body>
        <h1> N Choose K Calculator </h1>
        <h4> By Ben Highsted </h4>

        <hr/>
        
        <br>

        <div class="form-div">
            <form method="POST" action="/">
                <label for="n_input">N:</label>
                <input name="n_input" id="n_input">

                <br><br>

                <label for="k_input">K:</label>
                <input name="k_input" id="k_input">

                <br><br>

                <input type="submit" id="submit">
            </form>
        </div>

        <p> {{ users_numbers }} </p>
    <u><p style='color: {{error_color}}'> {{ combinations }} </p></u>

    </body>

</html>